*
{
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    overflow: hidden;
    margin : 0;
    padding: 0;
    box-sizing: border-box;
}
html
{

    width: 100%;
    height: 100%;
    
}

body
{
    
    align-content: center;
    align-items: center;
    display: grid;
    justify-items: center;
    width: 100%;
    height: 100%;
    
    background-color: rgb(194, 194, 194);

}
#Background
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background-image: url(Assets/ImageResources/Background512-min.png);
    background-size: 55vmax 55vmax;
}

input
{
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 50vmax;
    height: 4vmax;
    transform: translate(-50%, 0);
    opacity: 50%;
}

canvas
{
    z-index: 1;
}
#border, #borderS
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 0.4vmax double rgba(0, 0, 0, 0.5);
    z-index: 2;
}

#borderS
{
    display: none;
}

h2
{
    position: absolute;
    height: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10000;
    font-family: MisterPixel;
    font-size: 2vmax;text-align: center;
    text-shadow: 0px 0px 1vmax red;
    color: whitesmoke;
    display: none;
}

h3, h4
{
    position: absolute;
    font-family: MisterPixel;
    color: rgba(0, 0, 0, 0.75);
    left: 1%;
    display: none;
}

@font-face
{
    font-family: MisterPixel;
    src: url("Assets/MisterPixel.ttf");
}